Repository continuouspipe/dockerfiles, pull requests merged in 2018-02, with the labels that each got.

#461 DEVOPS-565: Use from tag for the PHP images
  continuous-pipe.yml
  php/Dockerfile-apache
  php/Dockerfile-nginx
  php/Dockerfile-nginx-phpsource
Labels: Ready for Review

#460 Add PHP 7.2 images in base and Symfony varients
  continuous-pipe.yml
  docker-compose.yml
  php/Dockerfile-apache
  php/Dockerfile-nginx
  php/Dockerfile-nginx-phpsource
  php/apache/README.md
  php/nginx/README.md
  symfony/README.md
Labels: Apache, NGINX, Ready for Review, Symfony

#463 Allow enabling opcache on CLI and enable this + tune magento2
  magento2/README.md
  magento2/usr/local/share/env/30-framework
  php/apache/README.md
  php/nginx/README.md
  php/shared/etc/confd/templates/php/env.ini.tmpl
  php/shared/usr/local/share/env/40-stack
Labels: Apache, Magento 2, NGINX

#462 Fix Opcache's validate_timestamps setting always being 1
  php/shared/usr/local/share/env/40-stack
  php/shared/usr/local/share/env/55-stack
Labels: Apache, NGINX

#464 TLS cipher improvements
  nginx/README.md
  nginx/usr/local/share/env/40-stack
  php/apache/README.md
  php/nginx/README.md
  php/shared/usr/local/share/env/40-stack
Labels: Apache, NGINX
