Repository continuouspipe/dockerfiles, pull requests merged in 2018-12, with the labels that each got.

#512 Allow PHP 7.2 use with Spryker
  build.sh
  continuous-pipe.yml
  docker-compose.stable.yml
  docker-compose.yml
  spryker/README.md
Labels: Ready for Review

#513 Update Magento 2 NGINX vhost
  magento2/etc/confd/templates/nginx/site_media.conf.tmpl
  magento2/etc/confd/templates/nginx/site_phpfpm.conf.tmpl
  magento2/etc/confd/templates/nginx/site_root.conf.tmpl
  magento2/etc/confd/templates/nginx/site_setup.conf.tmpl
  magento2/etc/confd/templates/nginx/site_static.conf.tmpl
Labels: Magento 2, Ready for Review

#501 Allow increasing interned strings buffer in opcache
  magento2/README.md
  magento2/usr/local/share/env/30-framework
  php/apache/README.md
  php/nginx/README.md
  php/shared/etc/confd/templates/php/env.ini.tmpl
  php/shared/usr/local/share/env/40-stack
Labels: Apache, Magento 2, NGINX

#504 Add redis_cli container command for Magento 2
  magento2/usr/local/share/magento2/magento_functions.sh
Labels: Magento 2
